#include <stdio.h>
#include <time.h>
#define RAND_MIN 1
#define RAND_MAX 10
#define SECTION_MIN 1
#define SECTION_MAX 15

int main()
{

    /*srand(time(NULL));*/

    printf("Başlamak için a veya d tuşlarından birine basınız\n");
    printf("-------------------------------------------------\n\n");

    char section[] = {"|               |"};
    int position = 1; /* rand() % (RAND_MAX - RAND_MIN + 1) + RAND_MIN ; */ //Random fonksiyonu rastgele yerlerde olmak içindir.
    char direction;
    int counter = position;
    
    
    
    for (;;){

        direction = getchar();

        if (direction == 'a' || direction == 'A')
        {

            --counter;

            if (counter < SECTION_MIN)
            {

                section[position] = ' ';
                section[position = SECTION_MAX] = '<';
                system("clear");
                printf("%s\n", section);
                counter = SECTION_MAX;
            }

            else
            {
                section[position] = ' ';
                section[--position] = '<';
                system("clear");
                printf("%s\n", section);
            }
        }

        else if (direction == 'd' || direction == 'D')
        {
            ++counter;

            if (counter > SECTION_MAX)
            {

                section[position] = ' ';
                section[position = SECTION_MIN] = '>';
                system("clear");
                printf("%s\n", section);
                counter = SECTION_MIN;
            }

            else
            {
                section[position] = ' ';
                section[++position] = '>';
                system("clear");
                printf("%s\n", section);
            }
        }

    }

    return 0;
}
